* {
  margin:0;
  font-family: "Nobile", sans-serif;
  font-weight: 400; 
  border: none;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  scroll-behavior: smooth;
  text-decoration: none;
}


section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  /* background: rgb(131, 137, 155); */
  background: rgb(75, 75, 90);
  display: flex;  
  align-items: center;
  z-index: 100;
  padding: 1rem;
  justify-content: space-between;
}

.logo{
  font-size: 2rem;
  text-decoration: none;
  color: rgb(214, 216, 230);
  font-weight: 700;
  
  
}
 .navbar a {
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(234, 235, 247);
  margin-left: 4rem;
  
    
 }
.navbar a:hover,
.navbar a:active{
  color: rgb(176, 185, 218);
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(151, 157, 173); */
  /* margin-top: -10rem; */
  
  background: linear-gradient(0deg, rgb(102, 102, 117) 0%, rgb(75, 75, 90) 100%) no-repeat;
}

.home_section h3{
  font-size: 3.2rem;
  font-weight: 700;

}

.home_section h3:nth-of-type(2){
  margin-bottom: 2rem;

}
span{
  color: rgb(212, 217, 236);
  font-weight: 500;
}

.home_section h1{
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}

.profile_picture img{
  width: 30vw;
  height: 32vw;
  border-radius: 50%;
  animation: floating_pfp 4s ease-in-out infinite;
  margin-left: 3rem;
  }
@keyframes floating_pfp{
  0% {transform:translateY(0);}
  50% {transform:translateY(-2rem);}
  100% {transform:translateY(0);}
}

.home_section p{
font-size: 1.7rem;
color: black;

}

.about_me{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background: rgb(171, 176, 189); */
  background: rgb(102, 102, 117);
  
}
.about_me_picture img{
  width: 30vw;
  border-radius: 4%;
  margin-right: 3rem;
}

.head{
  text-align: center;
  font-size: 4rem;

}
.about_me_section h2{
  text-align: left;
  line-height: 1.2;
   }

   .about_me_section p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    color: white;
     }
     .skills{
      /* background: rgb(151, 157, 173); */
      background: rgb(102, 102, 117);
     }

     .skills h2{
      margin-bottom: 5rem;

     }

     .skills_section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;
      gap: 2rem;
     }

     .skills_section .skills_cards{
      flex:1 1 30rem;
      padding: 3rem 2rem 4rem;
      border-radius: 2rem;
      text-align: center;
      border: 0.2rem solid rgb(35, 35, 46);
      transition: .5s ease;
      background: rgb(62, 62, 75);
      box-shadow: 5px 5px 5px rgb(49, 44, 66);     

     }
     .skills_section .skills_cards img{
      width: 15vw;
      border-radius: 15%;
      margin-bottom: 1.5rem;
     }
     .skills_section .skills_cards h3{
      color: rgb(228, 121, 162);
      font-size: 2.5rem;
      font-weight: bold;      
     }

     .skills_section .skills_cards:hover{
      border-color: rgb(115, 126, 163);
      transform: scale(1.01);
      box-shadow: 5px 5px 5px rgb(126, 132, 161);
     }

     .skills_section .skills_cards p{
      font-size: 1.5rem;
      margin:1rem 0 3rem;
      color: rgb(239, 239, 241);
     }

     .projects{
      /* background: rgb(171, 176, 189); */
      background: rgb(102, 102, 117);

     }

     .projects h2{
      margin-bottom: 4rem;
     }

     .projects_section{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap:2.5rem;

     }

     .projects_section .projects_cards{
      position:relative;
      border-radius: 1.5rem;
      box-shadow: 5px 5px 5px rgb(156, 108, 131);
      overflow: hidden;
      display: flex;
     }

     .projects_cards img{
      width:100%;
      transition: .5s ease;
      opacity: 0.8;
      
     }

     .projects_cards:hover img{
      transform: scale(1.1);
       }

       .projects_cards .project_description{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        align-items: center;
        background: linear-gradient(rgb(179, 98, 134), rgb(221, 137, 183));
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 4rem;
        transform: translateY(100%);
        transition: .7s ease;

       }
       .projects_cards:hover .project_description{
        transform: translateY(0);
       }

       .project_description h4{
        font-size: 3rem;
        color: rgb(255, 255, 255);
        
       }
       .project_description p{
        font-size: 1.2rem;
        margin: .3rem 0 1rem;
       }

       .project_description a{
        align-items: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
       }
       .project_description a:hover{
        color: rgb(85, 85, 85);
       }
      .footer{
        padding: 2rem;
        /* background: rgb(131, 137, 155); */
        background: rgb(82, 82, 94);
      }
